Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

fix: inFolder copy issue when renamed
  src/service/inFolderHandler.ts
Due: eslint, eslint --fix, prettier --write

refactor: remove unecessary comments
  src/service/standardHandler.ts
  src/utils/fsHelper.ts
  src/utils/fxpHelper.ts
  src/utils/metadataDiff.ts
Due: eslint, eslint --fix, prettier --write

refactor: simplify implementation
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

fix: main rebasing issues
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  src/adapter/GitAdapter.ts
  src/post-processor/flowTranslationProcessor.ts
  src/service/botHandler.ts
  src/service/inFileHandler.ts
  src/service/inResourceHandler.ts
  src/service/standardHandler.ts
  src/utils/fsUtils.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

docs: update "Built With" section
  README.md
Due: prettier --write

refactor: extract utility methods to `fsUtils`
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/fsUtils.test.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
Due: eslint, eslint --fix, prettier --write

fix: source parameter consideration
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
  src/post-processor/includeProcessor.ts
Due: eslint, eslint --fix, prettier --write

build: remove unused dependency
  package.json
Due: none

fix: extension intersection between aura and app types
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

fix: source code spelling
  .github/linters/.cspell.json
  __tests__/unit/lib/adapter/GitAdapter.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: filter path on source for filePathWalkder
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: filter path on source for contentWalker
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

fix: non existent file copy attempt
  src/service/inFolderHandler.ts
  src/service/inResourceHandler.ts
Due: eslint, eslint --fix, prettier --write

fix: parsedRev working with git shortcuts
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: reduce scope for listing files
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

fix: spell check
  .github/linters/.cspell.json
  __tests__/unit/lib/adapter/GitAdapter.test.ts
Due: eslint, eslint --fix, prettier --write

fix: windows path separator issue
  __tests__/unit/lib/utils/gitLfsHelper.test.ts
  __tests__/unit/lib/utils/packageHelper.test.ts
  src/adapter/GitAdapter.ts
  src/constant/fsConstants.ts
  src/constant/gitConstants.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/post-processor/packageGenerator.ts
  src/service/botHandler.ts
  src/service/inBundleHandler.ts
  src/service/inFileHandler.ts
  src/service/inFolderHandler.ts
  src/service/inResourceHandler.ts
  src/service/lwcHandler.ts
  src/service/objectTranslationHandler.ts
  src/service/standardHandler.ts
  src/service/subCustomObjectHandler.ts
  src/utils/fsUtils.ts
  src/utils/gitLfsHelper.ts
  src/utils/ignoreHelper.ts
  src/utils/packageHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: remove unused constant
  src/utils/fxpHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: common parameter to isomorphic-git
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

fix: ignore fallback
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve regex selectivity for flow translation
  src/post-processor/flowTranslationProcessor.ts
Due: eslint, eslint --fix, prettier --write

fix: string triple equals comparison missing
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

docs: add explanation for ignoring `recordType`
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

refactor: rationalize algorithm
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: segregate responsibility further
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.35.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.35.0 (#760)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: os api availability issue
  src/service/diffLineInterpreter.ts
Due: eslint, eslint --fix, prettier --write

test: add compatibility test
  __tests__/unit/lib/service/diffLineInterpreter-compatibility.test.ts
  src/service/diffLineInterpreter.ts
Due: eslint, eslint --fix, prettier --write

fix: os api availability issue (#764)
  __tests__/unit/lib/service/diffLineInterpreter-compatibility.test.ts
  package.json
  src/service/diffLineInterpreter.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

fix: use constant for path separator
  src/constant/fsConstants.ts
Due: eslint, eslint --fix, prettier --write

fix: use constant for path separator (#766)
  src/constant/fsConstants.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade github actions
  .github/actions/install/action.yml
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/reusable-build.yml
Due: none

chore(main): release 5.35.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.35.1 (#765)
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
