Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

test: implement ignore helper spec with copyfile and writefile
  __tests__/unit/lib/utils/fsHelper.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: fast exit when already ignored
  src/utils/fsHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: apply ignore settings when copying file (#745)
  __tests__/unit/lib/utils/fsHelper.test.ts
  src/post-processor/flowTranslationProcessor.ts
  src/utils/fsHelper.ts
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: add fetch depth tips for git sha pointer error
  src/locales/en.ts
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d6f99d3c8c15de8a8844d9dcab964cffab929312
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

fix: add fetch depth tips for git sha pointer error (#748)
  src/locales/en.ts
Due: eslint, eslint --fix, prettier --write

build: add circular dependency check
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1753f97fda048000690ca658d133cc58494fefcb
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

fix: circular dependency issues
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/fsUtils.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  src/post-processor/flowTranslationProcessor.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: multiple import statement on the same module
  __tests__/integration/services.test.ts
  __tests__/unit/lib/service/inFileHandler.test.ts
  src/service/inResourceHandler.ts
Due: eslint, eslint --fix, prettier --write

fix: no unresolved linting issue
  .eslintrc.js
Due: eslint, eslint --fix, prettier --write

fix: circular dependency issues (#749)
  .eslintrc.js
  __tests__/integration/services.test.ts
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/service/inFileHandler.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/fsUtils.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  package.json
  src/post-processor/flowTranslationProcessor.ts
  src/service/inResourceHandler.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
  src/utils/ignoreHelper.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 30ed6d28e96c1f67ce5ec868391a581534dc5cb6
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

feat: add `RecordAlertCategory` metadata support
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

test: fix nut test expect
  __tests__/functional/delta.nut.ts
Due: eslint, eslint --fix, prettier --write

feat: add `RecordAlertCategory` metadata support (#752)
  __tests__/functional/delta.nut.ts
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.32.0
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3ba47ccb2c631875a19d48bd78adcf5d501429f2
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.32.0 (#747)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add `MessagingChannel` metadata support
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

feat: add `MessagingChannel` metadata support (#754)
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

chore(main): release 5.33.0
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 22aa87fa1fdafabdf841900aab27855fcd31947b
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.33.0 (#755)
  CHANGELOG.md
  package.json
Due: prettier --write

test(e2e): add "includeDestructive" scenario
  .sgdincludeDestructive
  test/include-destructive/classes/RemovedClassFromDestructiveInclusion.cls
  test/include-destructive/classes/RemovedClassFromDestructiveInclusion.cls-meta.xml
  test/include-destructive/labels/CustomLabels.labels-meta.xml
Due: none

test(e2e): add "ignoreDestructive" base scenario
  .sgdignoreDestructive
  test/ignore-destructive/classes/IgnoredClassFromDeletion.cls
  test/ignore-destructive/classes/IgnoredClassFromDeletion.cls-meta.xml
  test/ignore-destructive/labels/CustomLabels.labels-meta.xml
Due: none

test(e2e): add "include" scenario
  .sgdinclude
  test/include/classes/AddedClassFromInclusion.cls
  test/include/classes/AddedClassFromInclusion.cls-meta.xml
  test/include/labels/CustomLabels.labels-meta.xml
Due: none

feat: add remaining discovery framework metadata type support
  src/metadata/v59.json
Due: none

feat: add remaining discovery framework metadata type support (#757)
  src/metadata/v59.json
Due: none

feat: add v60 release preview support
  src/metadata/v60.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2c7e84839f7ab922840b5552e92f5b74beba66db
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

feat: add `Spring'24` release preview support (#758)
  src/metadata/v60.json
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
