Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint", "eslint --fix", "prettier --write"],
  "*.js": ["eslint", "eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 92099726ecc676be3cc79bf43a286aae90e42a4a
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.29.0 (#724)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add `EventRelayConfig` metadata support
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

feat: add `EventRelayConfig` metadata support (#726)
  package.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  yarn.lock
Due: none

chore(main): release 5.30.0
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7ea47a881abdfa0c44c4f0c7eae8465f7b7519da
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.30.0 (#727)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: adding prediction builder ai metadata types
  src/metadata/v50.json
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

feat: adding prediction builder formatted
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

feat: adding prediction builder formatted v50
  src/metadata/v50.json
Due: none

chore: prediction builder in beginning
  src/metadata/v50.json
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

feat: adding prediction builder ai metadata types (#731)
  src/metadata/v50.json
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b830a8ff4af4f2f74e772934359508f20c57b0ab
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

feat: add marketingappextensions inFile type
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

feat: support `MarketingAppExtension` metadata type (#735)
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.31.0
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e3f9f1a67ec5b7a693d697f8f5c2797e1cfb4f69
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.31.0 (#733)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: boolean attribute and comment xml parsing
  src/utils/fxpHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: spell check
  .github/linters/.cspell.json
Due: none

build: upgrade github actions
  .github/workflows/manual-deprecate-versions.yml
  .github/workflows/manual-manage-versions.yml
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/reusable-build.yml
Due: none

build: upgrade release please
  .github/workflows/on-main-push.yml
  .release-please-manifest.json
Due: none

fix: linting issue
  .github/linters/.cspell.json
  README.md
Due: prettier --write

build: use eslint for typescript
  .mega-linter.yml
Due: none

build: fix lychee issues
  .github/workflows/on-pull-request.yml
  .mega-linter.yml
  lychee.toml
Due: none

fix: boolean attribute and comment xml parsing (#738)
  src/utils/fxpHelper.ts
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 157a6bb13344f635a7fad3d7cb3ff9a0973fefd5
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

build: upgrade pipeline
  .github/linters/.cspell.json
  .github/workflows/manual-deprecate-versions.yml
  .github/workflows/manual-manage-versions.yml
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/reusable-build.yml
  .mega-linter.yml
  README.md
  lychee.toml
Due: prettier --write

chore(main): release 5.31.1
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1c7d3b9536b0e92f68af3b636f543c654eb2c93c
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.31.1 (#739)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: apply ignore settings when copying file
  __tests__/unit/lib/utils/fsHelper.test.ts
  src/post-processor/flowTranslationProcessor.ts
  src/utils/fsHelper.ts
  src/utils/ignoreHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: apply ignore settings when writting file
  src/post-processor/flowTranslationProcessor.ts
  src/utils/fsHelper.ts
Due: eslint, eslint --fix, prettier --write
