Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint", "eslint --fix", "prettier --write"],
  "*.js": ["eslint", "eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: spell check issue
  src/utils/fxpHelper.ts
  src/utils/metadataDiff.ts
Due: eslint, eslint --fix, prettier --write

fix: xml header consideration for inFile metadata type handler (#811)
  __tests__/functional/delta.nut.ts
  __tests__/unit/lib/utils/metadataDiff.test.ts
  package.json
  src/utils/fxpHelper.ts
  src/utils/metadataDiff.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

build: add `@salesforce/core` module dependency
  package.json
  yarn.lock
Due: none

build: upgrade dependencies
  yarn.lock
Due: none

fix: add `@salesforce/core` implicit dependency (#812)
  package.json
  yarn.lock
Due: none

chore(main): release 5.38.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.38.1 (#813)
  CHANGELOG.md
  package.json
Due: prettier --write

docs: fix source path tag
  README.md
Due: prettier --write

fix: leading and trailing path separator treatment
  src/constant/fsConstants.ts
  src/utils/fsUtils.ts
Due: eslint, eslint --fix, prettier --write

fix: usage of fixed `treatPathSep` behavior
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

test: improve `treatPathSep` spec coverage
  __tests__/unit/lib/utils/fsUtils.test.ts
Due: eslint, eslint --fix, prettier --write

fix: absolute path handling (#815)
  README.md
  __tests__/unit/lib/utils/fsUtils.test.ts
  src/adapter/GitAdapter.ts
  src/constant/fsConstants.ts
  src/utils/fsUtils.ts
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.38.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.38.2 (#816)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: matching `EmailServicesFunction` on extension
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

test: add spec for `EmailServicesFunction` directory matching
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
Due: eslint, eslint --fix, prettier --write

fix: spell check issue
  .github/linters/.cspell.json
Due: none

fix: type detection of `EmailServicesFunction` metadata type (#831)
  .github/linters/.cspell.json
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.38.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.38.3 (#832)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: type detection on metadata extension
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

test: add site types scenarios
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
Due: eslint, eslint --fix, prettier --write

fix: spell check dictionary
  .github/linters/.cspell.json
Due: none

fix: metadata type detection on file extension (#835)
  .github/linters/.cspell.json
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.38.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.38.4 (#836)
  CHANGELOG.md
  package.json
Due: prettier --write

build: migrate from `depcheck` to `knip`
  .depcheckrc
  .github/linters/.cspell.json
  knip.config.ts
  package.json
  yarn.lock
Due: eslint, eslint --fix, prettier --write

fix: unused export
  src/constant/gitConstants.ts
Due: eslint, eslint --fix, prettier --write

build: migrate from `depcheck` to `knip` (#837)
  .depcheckrc
  .github/linters/.cspell.json
  knip.config.ts
  package.json
  src/constant/gitConstants.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

build: publish beta package
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
Due: none

docs: update the testing from PR instructions
  CONTRIBUTING.md
Due: prettier --write

build: publish beta package when building pull request (#838)
  .github/linters/.cspell.json
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  CONTRIBUTING.md
Due: prettier --write

fix: mutation testing files pattern
  stryker.conf.mjs
Due: none

build: fix mutation testing files pattern (#839)
  stryker.conf.mjs
Due: none

refactor: centralize e2e test process definition
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/run-e2e-tests.yml
Due: none

refactor: centralize e2e test process definition (#840)
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/run-e2e-tests.yml
Due: none

fix: publish beta package only if the PR is not merged
  .github/workflows/on-pull-request.yml
Due: none

fix: use yarn to reinstall every time switching branches
  package.json
Due: none
