Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

refactor: rename beta in dev
  .github/workflows/on-pull-request.yml
Due: none

build: cleanup outdated dev package
  .github/workflows/on-merged-pull-request.yml
Due: none

refactor: deprecate every dev version one by one
  .github/workflows/on-merged-pull-request.yml
Due: none

refactor: rename ci job title
  .github/workflows/run-e2e-tests.yml
Due: none

build: clean up outdated npm dev package (#841)
  .github/workflows/on-merged-pull-request.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/run-e2e-tests.yml
  package.json
Due: none

refactor: rename subCustomObjectHandler to decomposedHandler
  __tests__/unit/lib/service/decomposedHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  src/service/decomposedHandler.ts
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

fix: missing await
  src/service/inResourceHandler.ts
Due: eslint, eslint --fix, prettier --write

feat: add hanging decomposed type to handle permission set decomposition
  __tests__/unit/lib/service/hangingDecomposedHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  src/service/hangingDecomposedHandler.ts
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

refactor: fix linting issue
  src/service/standardHandler.ts
Due: eslint, eslint --fix, prettier --write

refactor: extract `EXTENSION_SUFFIX_REGEX` constant for later reuse
  src/constant/fsConstants.ts
  src/service/inFolderHandler.ts
Due: eslint, eslint --fix, prettier --write

build: fix wireit cache detection configuration
  package.json
Due: none

test: fix NUT test assert because of added e2e test cases
  __tests__/functional/delta.nut.ts
Due: eslint, eslint --fix, prettier --write

refactor: isolate implementation specific to custom fields
  __tests__/unit/lib/service/customFieldHandler.test.ts
  __tests__/unit/lib/service/decomposedHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  src/service/customFieldHandler.ts
  src/service/decomposedHandler.ts
Due: eslint, eslint --fix, prettier --write

refactor: remove `hangingDecomposed` and use `inResource` instead
  __tests__/unit/lib/service/hangingDecomposedHandler.test.ts
  __tests__/unit/lib/service/inResourceHandler.test.ts
  __tests__/unit/lib/service/objectTranslationHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  src/service/hangingDecomposedHandler.ts
  src/service/inResourceHandler.ts
  src/service/standardHandler.ts
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

refactor: isolate implementation specific to custom label
  __tests__/unit/lib/service/customLabelHandler.test.ts
  __tests__/unit/lib/service/inFileHandler.test.ts
  src/constant/metadataConstants.ts
  src/service/customLabelHandler.ts
  src/service/inFileHandler.ts
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

build: centralize eslint configuration
  .eslintignore
  .eslintrc.js
  CONTRIBUTING.md
  package.json
Due: eslint, eslint --fix, prettier --write

refactor: improve lisibility and `find` usage
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve searchByExtension performance
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

refactor: secure unsafe extension management
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

fix: remove eslint annotation not needed
  __tests__/integration/services.test.ts
  __tests__/unit/lib/post-processor/includeProcessor.test.ts
  __tests__/unit/lib/service/botHandler.test.ts
  __tests__/unit/lib/service/customObjectHandler.test.ts
  __tests__/unit/lib/service/diffLineInterpreter-compatibility.test.ts
  __tests__/unit/lib/service/diffLineInterpreter.test.ts
  __tests__/unit/lib/service/inBundleHandler.test.ts
  __tests__/unit/lib/service/inFileHandler.test.ts
  __tests__/unit/lib/service/inFolderHandler.test.ts
  __tests__/unit/lib/service/inResourceHandler.test.ts
  __tests__/unit/lib/service/lwcHandler.test.ts
  __tests__/unit/lib/service/objectTranslationHandler.test.ts
  __tests__/unit/lib/service/sharedFolderHandler.test.ts
  __tests__/unit/lib/service/standardHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  __tests__/unit/lib/utils/metadataDiff.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: decrease cognitive complexity
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

build: fix pr number detection for dev version cleaner
  .github/workflows/on-merged-pull-request.yml
Due: none

chore(main): release 5.39.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.39.0 (#843)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: detection of `CustomMetadata` type
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
Due: eslint, eslint --fix, prettier --write

test: add spec for `CustomMetadata` directory matching
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
Due: eslint, eslint --fix, prettier --write

fix: detection of `CustomMetadata` type (#844)
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  package.json
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.39.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.39.1 (#845)
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a61aed60131a385b18a50bf791bd40f8ebad344d
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 362aab4732d8c99ed773d5dc39c67bc1488fe216
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

test: perf fix
  .github/workflows/on-main-push.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for eaa5235810ea7d23f926db23dc4a8dc86ee5e0f8
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dede7ef2070c5dd69c5dcdf13bdf21d25b21a853
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

fix: perf test execution
  .github/workflows/on-main-push.yml
  package.json
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
