Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint", "eslint --fix", "prettier --write"],
  "*.js": ["eslint", "eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

docs: update link to up-to-date version
  PUBLISHING.md
Due: prettier --write

build: upgrade release please CI job (#868)
  .github/workflows/on-main-push.yml
  PUBLISHING.md
Due: prettier --write

fix: subDir detection when walking the repo content
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: sub directory detection when walking vcs content (#880)
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  package.json
  src/adapter/GitAdapter.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.40.1
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 788478d1caf0cb68c58f7693238a0ef962a17058
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.40.1 (#881)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: detect resource type with extension
  src/service/inFileHandler.ts
  src/service/inResourceHandler.ts
  src/service/sharedFolderHandler.ts
  src/service/standardHandler.ts
Due: eslint, eslint --fix, prettier --write

test: add spec for detection via extension
  __tests__/unit/lib/service/inResourceHandler.test.ts
Due: eslint, eslint --fix, prettier --write

fix: allow to detect resource metadata kind by extension (#882)
  __tests__/unit/lib/service/inResourceHandler.test.ts
  package.json
  src/service/inFileHandler.ts
  src/service/inResourceHandler.ts
  src/service/sharedFolderHandler.ts
  src/service/standardHandler.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.40.2
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 61524c61f0a5311625edef91817bdce92945a256
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.40.2 (#883)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: use `keywords` instead of `keyword` in package.json
  package.json
Due: none

build: use `keywords` instead of `keyword` in package.json (#885)
  package.json
Due: none

build: update husky scripts
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

build: remove markdown link check
  .mega-linter.yml
Due: none

build: add `ls-lint`
  .ls-lint.yml
  __tests__/unit/lib/service/diffLineInterpreterCompatibility.test.ts
  package.json
  yarn.lock
Due: eslint, eslint --fix, prettier --write

build: migrate test:build to wireit
  package.json
Due: none

build: add `ls-lint` (#887)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .ls-lint.yml
  .mega-linter.yml
  __tests__/unit/lib/service/diffLineInterpreterCompatibility.test.ts
  package.json
  yarn.lock
Due: eslint, eslint --fix, prettier --write

refactor: implement real singleton pattern
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  __tests__/unit/lib/metadata/metadataManager.test.ts
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/post-processor/includeProcessor.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  __tests__/unit/lib/utils/metadataDiff.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
  src/metadata/MetadataRepository.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/metadata/metadataManager.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/service/inFileHandler.ts
  src/service/objectTranslationHandler.ts
  src/service/sharedFolderHandler.ts
  src/utils/fsHelper.ts
  src/utils/ignoreHelper.ts
  src/utils/metadataDiff.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

feat(WIP): implement repository with SDR
  package.json
  yarn.lock
Due: none

build: fix `ls-lint` configuration
  .ls-lint.yml
Due: none

chore: fix mehdi github user name
  .github/CODEOWNERS
  .github/linters/.cspell.json
  CODEOWNERS
  README.md
Due: prettier --write

build: fix `ls-lint` configuration (#889)
  .github/CODEOWNERS
  .github/linters/.cspell.json
  .ls-lint.yml
  CODEOWNERS
  README.md
  package.json
  yarn.lock
Due: prettier --write

feat: deactivate Flow instead of trying to delete
  __tests__/unit/lib/post-processor/deactivateFlowProcessor.test.ts
  src/constant/metadataConstants.ts
  src/post-processor/deactivateFlowProcessor.ts
  src/post-processor/postProcessorManager.ts
  src/utils/packageHelper.ts
Due: eslint, eslint --fix, prettier --write

docs: create a flow deletion section
  README.md
Due: prettier --write

feat: map flowHandler to flow metadata
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  src/service/typeHandlerFactory.ts
Due: eslint, eslint --fix, prettier --write

feat: create FlowHandler and warn when deleted
  __tests__/unit/lib/service/flowHandler.test.ts
  src/locales/en.ts
  src/service/flowHandler.ts
Due: eslint, eslint --fix, prettier --write

docs: use see instead of cf
  src/locales/en.ts
Due: eslint, eslint --fix, prettier --write

docs: update the flow deletion procedure
  README.md
Due: prettier --write

fix: update spell check database
  .github/linters/.cspell.json
Due: none

docs: take feedback from @mehdicherf
  README.md
  src/locales/en.ts
Due: eslint, eslint --fix, prettier --write

docs: fix `destructiveChanges` ref
  README.md
Due: prettier --write

docs: fix `destructiveChanges` ref in step 4
  README.md
Due: prettier --write
