Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f4d7c67be9d0fdc8d992cd11696be9f529eb2b6a
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.34.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.34.0 (#759)
  CHANGELOG.md
  package.json
Due: prettier --write

build: create script for dependency reinstallation
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  package.json
Due: none

refactor: simplify comparisonName algorithm
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

refactor: api version is known for sure
  src/metadata/metadataManager.ts
Due: eslint, eslint --fix, prettier --write

refactor: simplify get type implementation
  __tests__/unit/lib/utils/typeUtils.test.ts
  src/utils/metadataConstants.ts
  src/utils/typeUtils.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: no-unused-vars linting issue
  .eslintrc.js
Due: eslint, eslint --fix, prettier --write

fix: spell check
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/utils/metadataConstants.ts
Due: eslint, eslint --fix, prettier --write

fix: nut test execution with last `chai` version
  package.json
  yarn.lock
Due: none

build: remove mutation testing
  .github/workflows/on-pull-request.yml
Due: none

fix: include issue
  __tests__/integration/services.test.ts
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/service/customObjectHandler.test.ts
  __tests__/unit/lib/service/inFolderHandler.test.ts
  __tests__/unit/lib/service/inResourceHandler.test.ts
  __tests__/unit/lib/service/lwcHandler.test.ts
  __tests__/unit/lib/service/sharedFolderHandler.test.ts
  __tests__/unit/lib/service/standardHandler.test.ts
  __tests__/unit/lib/service/subCustomObjectHandler.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
  src/constant/fsConstants.ts
  src/constant/gitConstants.ts
  src/constant/metadataConstants.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/service/customObjectHandler.ts
  src/service/inBundleHandler.ts
  src/service/inFileHandler.ts
  src/service/inFolderHandler.ts
  src/service/inResourceHandler.ts
  src/service/objectTranslationHandler.ts
  src/service/sharedFolderHandler.ts
  src/service/standardHandler.ts
  src/service/subCustomObjectHandler.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
  src/utils/fxpHelper.ts
  src/utils/gitLfsHelper.ts
  src/utils/ignoreHelper.ts
  src/utils/packageHelper.ts
  src/utils/repoGitDiff.ts
  src/utils/repoSetup.ts
Due: eslint, eslint --fix, prettier --write

docs: update requirements version
  CONTRIBUTING.md
Due: prettier --write

refactor: use git library
  __tests__/unit/lib/utils/childProcessUtils.test.ts
  __tests__/unit/lib/utils/repoSetup.test.ts
  package.json
  src/adapter/GitAdapter.ts
  src/constant/gitConstants.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/service/customObjectHandler.ts
  src/service/inFolderHandler.ts
  src/utils/childProcessUtils.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fxpHelper.ts
  src/utils/gitLfsHelper.ts
  src/utils/repoGitDiff.ts
  src/utils/repoSetup.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

fix: fxpHelper.test
  src/utils/fxpHelper.ts
Due: eslint, eslint --fix, prettier --write

refactor: process when getting content
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

test: fix repoGitDiff.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
Due: eslint, eslint --fix, prettier --write

build: add circular dependency check
  package.json
  yarn.lock
Due: none

fix: circular dependencies
  src/adapter/GitAdapter.ts
  src/commands/sgd/source/delta.ts
  src/post-processor/flowTranslationProcessor.ts
  src/service/botHandler.ts
  src/service/inFileHandler.ts
  src/service/inResourceHandler.ts
  src/service/standardHandler.ts
  src/utils/cliConstants.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
  src/utils/gitLfsHelper.ts
Due: eslint, eslint --fix, prettier --write

test: fix GitAdapter refactoring mocks
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/post-processor/includeProcessor.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/gitLfsHelper.test.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/gitLfsHelper.ts
Due: eslint, eslint --fix, prettier --write

refactor: delete `getBuffer` method
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: remove `function`
  __tests__/functional/main.test.ts
Due: eslint, eslint --fix, prettier --write

test: add partial spec
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

test: implement GitAdapter spec
  __tests__/unit/lib/adapter/GitAdapter.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve GitAdapter maintainability
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

feat: add global cache
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

feat: use serial iterate
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve comparison performance
  __tests__/unit/lib/utils/repoGitDiff.test.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve concurrency management at high level
  src/service/diffLineInterpreter.ts
Due: eslint, eslint --fix, prettier --write

refactor: reduce function line number
  src/adapter/GitAdapter.ts
Due: eslint, eslint --fix, prettier --write

refactor: parallelism concurrency management
  __tests__/unit/lib/service/diffLineInterpreter.test.ts
  package.json
  src/service/diffLineInterpreter.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

feat: git submodules compatibility
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  src/adapter/GitAdapter.ts
  src/utils/cliHelper.ts
Due: eslint, eslint --fix, prettier --write

fix: git submodules compatibility
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/fxpHelper.test.ts
  src/adapter/GitAdapter.ts
  src/post-processor/flowTranslationProcessor.ts
  src/service/customObjectHandler.ts
  src/service/subCustomObjectHandler.ts
  src/types/git.ts
  src/utils/fsHelper.ts
  src/utils/fxpHelper.ts
  src/utils/metadataDiff.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
