Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

feat: warn when a flow is deleted (#894)
  .github/linters/.cspell.json
  README.md
  __tests__/unit/lib/service/flowHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  package.json
  src/locales/en.ts
  src/service/flowHandler.ts
  src/service/typeHandlerFactory.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

fix: issue copying resource, meta and folder for resource type
  src/service/inResourceHandler.ts
Due: eslint, eslint --fix, prettier --write

test: improve spec to check for path issue
  __tests__/unit/lib/service/inResourceHandler.test.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: issue copying resource, meta and folder for resource type (#896)
  __tests__/unit/lib/service/inResourceHandler.test.ts
  package.json
  src/service/inResourceHandler.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.41.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.41.0 (#897)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add ConversationMessageDefinition metadata support
  src/metadata/v59.json
  src/metadata/v60.json
  src/metadata/v61.json
Due: none

build: upgrade dependencies
  __tests__/__utils__/globalTestHelper.ts
  __tests__/functional/main.test.ts
  package.json
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

feat: add ConversationMessageDefinition metadata support (#899)
  __tests__/__utils__/globalTestHelper.ts
  __tests__/functional/main.test.ts
  package.json
  src/metadata/v59.json
  src/metadata/v60.json
  src/metadata/v61.json
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.42.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.42.0 (#900)
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: implement real singleton pattern
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  __tests__/unit/lib/metadata/metadataManager.test.ts
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/post-processor/includeProcessor.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  __tests__/unit/lib/utils/metadataDiff.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
  src/metadata/MetadataRepository.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/metadata/metadataManager.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/service/inFileHandler.ts
  src/service/objectTranslationHandler.ts
  src/service/sharedFolderHandler.ts
  src/utils/fsHelper.ts
  src/utils/ignoreHelper.ts
  src/utils/metadataDiff.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

feat(WIP): implement repository with SDR
  package.json
  yarn.lock
Due: none

fix: suffix based translation file detection
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  src/post-processor/flowTranslationProcessor.ts
Due: eslint, eslint --fix, prettier --write

test: file without `-meta.xml`
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: create `isSamePath` file system utility method
  __tests__/unit/lib/utils/fsUtils.test.ts
  src/utils/fsUtils.ts
Due: eslint, eslint --fix, prettier --write

fix: ignore `subDir` check when `output` equals `repo`
  src/post-processor/flowTranslationProcessor.ts
Due: eslint, eslint --fix, prettier --write

test: include different output in unit tests
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
Due: eslint, eslint --fix, prettier --write

build: fix dependency linting
  knip.config.ts
Due: eslint, eslint --fix, prettier --write

fix: suffix based translation file detection and output subDir (#901)
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/utils/fsUtils.test.ts
  knip.config.ts
  package.json
  src/post-processor/flowTranslationProcessor.ts
  src/utils/fsUtils.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.42.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.42.1 (#903)
  CHANGELOG.md
  package.json
Due: prettier --write

build: migrate configuration
  .eslintrc.js
  .github/linters/.cspell.json
  .gitignore
  .lintstagedrc
  biome.json
  package.json
  tsconfig.json
  yarn.lock
Due: eslint, eslint --fix, prettier --write

docs: new lint tool
  CONTRIBUTING.md
Due: prettier --write

build: upgrade github actions uses
  .github/workflows/on-main-push.yml
  .github/workflows/reusable-build.yml
Due: none

build: isolate `lint` task
  .github/workflows/reusable-build.yml
  .husky/pre-push
  package.json
Due: none

feat: add `v62` release preview support
  src/metadata/v62.json
Due: none

feat: add `Winter '25` `(v62)` release preview support (#909)
  src/metadata/v62.json
Due: none

Updates the sf command on the README.md
  README.md
Due: prettier --write

docs: update sf installation instructions
  README.md
Due: prettier --write

docs: use package.xml from destructiveChanges folder
  README.md
Due: prettier --write

docs: fix parameter type
  README.md
Due: prettier --write

docs: updates the `sf` command on the `README.md` (#912)
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore(main): release 5.43.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
