Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

build: upgrade commitlint github action
  .github/workflows/on-pull-request.yml
Due: none

build: fix perf test execution (#846)
  .github/workflows/on-main-push.yml
  .github/workflows/on-pull-request.yml
  package.json
  yarn.lock
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a4e9c7f5ade38cc141ec78602aa207f770678fce
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

build: delete dev package message in PR
  .github/workflows/on-merged-pull-request.yml
Due: none

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

build: delete PR dev package message after merge (#847)
  .github/workflows/on-merged-pull-request.yml
  package.json
  yarn.lock
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8fa3936e7e0477731786c933cbbc7e87d2551ba4
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

build: execute perf test when updating release
  .github/workflows/on-main-push.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8d5c927a795646ab9644d8d99f2eac48b0221b5b
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

build: fix yaml lint issues
  .github/workflows/on-merged-pull-request.yml
Due: none

build: fix github action variable syntax issue
  .github/workflows/on-main-push.yml
  .github/workflows/on-merged-pull-request.yml
  .github/workflows/on-pull-request.yml
Due: none

build: execute perf test when updating release (#848)
  .github/workflows/on-main-push.yml
  .github/workflows/on-merged-pull-request.yml
  .github/workflows/on-pull-request.yml
Due: none

build: fix github action trigger
  .github/workflows/on-merged-pull-request.yml
Due: none

build: fix dev cleaner github action trigger (#849)
  .github/workflows/on-merged-pull-request.yml
Due: none

build: fix github action execution
  .github/workflows/on-merged-pull-request.yml
Due: none

build: fix github action execution (#850)
  .github/workflows/on-merged-pull-request.yml
Due: none

docs: add a performance badge
  README.md
Due: prettier --write

docs: add a performance badge (#851)
  README.md
Due: prettier --write

build: apply trigger criteria to merged PR ci job
  .github/workflows/on-merged-pull-request.yml
Due: none

build: apply trigger criteria to merged PR ci job (#852)
  .github/workflows/on-merged-pull-request.yml
Due: none

fix: copy when inFile changes are not subtype
  src/service/inFileHandler.ts
Due: eslint, eslint --fix, prettier --write

test: improve inFile spec with changes not subtype
  __tests__/unit/lib/service/inFileHandler.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: simplify implementation
  src/service/inFileHandler.ts
Due: eslint, eslint --fix, prettier --write

fix: metadata type detection for subtype not packageable contained inside file (#858)
  __tests__/unit/lib/service/inFileHandler.test.ts
  package.json
  src/service/inFileHandler.ts
  yarn.lock
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.39.2
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a55a528239631fd840ffeb57feedb7f01bdf64c6
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.39.2 (#861)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: support `GenAIPromptTemplate` metadata
  src/metadata/v60.json
Due: none

feat: support `GenAIPromptTemplateActv` metadata
  src/metadata/v60.json
Due: none

feat: support new `GenAI` metadata kind (#865)
  package.json
  src/metadata/v60.json
  yarn.lock
Due: none

feat: support preview api version 61
  src/metadata/v61.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 744abeaf9d0f608e3b4ea72560520d4e7fd3f11e
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

build: fix compilation cache issue
  package.json
Due: none

feat: support preview api version `61` (#867)
  package.json
  src/metadata/v61.json
Due: none

chore(main): release 5.40.0
  CHANGELOG.md
  package.json
Due: prettier --write

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1442b32f73cb95755cdde822b4ac8c61394a6bdb
  dev/bench/data.js
Due: eslint, eslint --fix, prettier --write

chore(main): release 5.40.0 (#866)
  CHANGELOG.md
  package.json
Due: prettier --write

build: fix deprecated use reference
  .github/workflows/on-main-push.yml
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
