Repository scolladon/sfdx-git-delta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write

build: add eslint sort import rule
  .eslintrc.js
Due: eslint, eslint --fix, prettier --write

fix: apply sort import rule on src
  src/adapter/GitAdapter.ts
  src/commands/sgd/source/delta.ts
  src/main.ts
  src/metadata/MetadataRepositoryImpl.ts
  src/metadata/metadataManager.ts
  src/post-processor/flowTranslationProcessor.ts
  src/post-processor/includeProcessor.ts
  src/post-processor/packageGenerator.ts
  src/post-processor/postProcessorManager.ts
  src/service/botHandler.ts
  src/service/customObjectHandler.ts
  src/service/diffLineInterpreter.ts
  src/service/inBundleHandler.ts
  src/service/inFileHandler.ts
  src/service/inFolderHandler.ts
  src/service/inResourceHandler.ts
  src/service/lwcHandler.ts
  src/service/objectTranslationHandler.ts
  src/service/sharedFolderHandler.ts
  src/service/standardHandler.ts
  src/service/subCustomObjectHandler.ts
  src/service/typeHandlerFactory.ts
  src/utils/cliHelper.ts
  src/utils/fsHelper.ts
  src/utils/fsUtils.ts
  src/utils/fxpHelper.ts
  src/utils/gitLfsHelper.ts
  src/utils/ignoreHelper.ts
  src/utils/metadataDiff.ts
  src/utils/packageHelper.ts
  src/utils/repoGitDiff.ts
Due: eslint, eslint --fix, prettier --write

fix: apply sort import rule on tests
  __tests__/functional/delta.nut.ts
  __tests__/functional/main.test.ts
  __tests__/integration/services.test.ts
  __tests__/unit/lib/adapter/GitAdapter.test.ts
  __tests__/unit/lib/metadata/MetadataRepositoryImpl.test.ts
  __tests__/unit/lib/metadata/metadataManager.test.ts
  __tests__/unit/lib/post-processor/baseProcessor.test.ts
  __tests__/unit/lib/post-processor/flowTranslationProcessor.test.ts
  __tests__/unit/lib/post-processor/includeProcessor.test.ts
  __tests__/unit/lib/post-processor/packageGenerator.test.ts
  __tests__/unit/lib/post-processor/postProcessorManager.test.ts
  __tests__/unit/lib/service/botHandler.test.ts
  __tests__/unit/lib/service/customObjectHandler.test.ts
  __tests__/unit/lib/service/diffLineInterpreter-compatibility.test.ts
  __tests__/unit/lib/service/diffLineInterpreter.test.ts
  __tests__/unit/lib/service/inBundleHandler.test.ts
  __tests__/unit/lib/service/inFileHandler.test.ts
  __tests__/unit/lib/service/inFolderHandler.test.ts
  __tests__/unit/lib/service/inResourceHandler.test.ts
  __tests__/unit/lib/service/lwcHandler.test.ts
  __tests__/unit/lib/service/objectTranslationHandler.test.ts
  __tests__/unit/lib/service/sharedFolderHandler.test.ts
  __tests__/unit/lib/service/standardHandler.test.ts
  __tests__/unit/lib/service/subCustomObjectHandler.test.ts
  __tests__/unit/lib/service/typeHandlerFactory.test.ts
  __tests__/unit/lib/utils/cliHelper.test.ts
  __tests__/unit/lib/utils/fsHelper.test.ts
  __tests__/unit/lib/utils/fsUtils.test.ts
  __tests__/unit/lib/utils/fxpHelper.test.ts
  __tests__/unit/lib/utils/gitLfsHelper.test.ts
  __tests__/unit/lib/utils/ignoreHelper.test.ts
  __tests__/unit/lib/utils/metadataDiff.test.ts
  __tests__/unit/lib/utils/packageHelper.test.ts
  __tests__/unit/lib/utils/repoGitDiff.test.ts
Due: eslint, eslint --fix, prettier --write

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

build: remove dependabot
  .github/dependabot.yml
Due: none

feat: support `WebStoreTemplate` metadata
  src/metadata/v49.json
  src/metadata/v50.json
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
Due: none

feat: support `WebStoreTemplate` metadata (#775)
  package.json
  src/metadata/v49.json
  src/metadata/v50.json
  src/metadata/v51.json
  src/metadata/v52.json
  src/metadata/v53.json
  src/metadata/v54.json
  src/metadata/v55.json
  src/metadata/v56.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
  yarn.lock
Due: none

chore(main): release 5.36.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.36.0 (#777)
  CHANGELOG.md
  package.json
Due: prettier --write

build: migrate script to wireit
  .depcheckrc
  .github/linters/.cspell.json
  .github/workflows/reusable-build.yml
  .gitignore
  .husky/pre-push
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix: prettier end of line issue
  .prettierrc.json
Due: none

build: migrate to `wireit` scripts (#779)
  .depcheckrc
  .github/linters/.cspell.json
  .github/workflows/reusable-build.yml
  .gitignore
  .husky/pre-push
  .prettierrc.json
  CONTRIBUTING.md
  README.md
  package.json
  yarn.lock
Due: prettier --write

feat: support UserAccessPolicy metadata
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
Due: none

feat: support UserAccessPolicy metadata for v57+ (#793)
  package.json
  src/metadata/v57.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
  yarn.lock
Due: none

chore(main): release 5.37.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.37.0 (#794)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: support `DataWaveResource` metadata
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
Due: none

feat: support `DataWaveResource` metadata (#801)
  package.json
  src/metadata/v58.json
  src/metadata/v59.json
  src/metadata/v60.json
  yarn.lock
Due: none

chore(main): release 5.38.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 5.38.0 (#802)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: ignore xml header absence
  src/utils/metadataDiff.ts
Due: eslint, eslint --fix, prettier --write

fix: side effect on input of `generatePartialJSON` method
  src/utils/metadataDiff.ts
Due: eslint, eslint --fix, prettier --write

test: add test when there is no header
  __tests__/unit/lib/utils/metadataDiff.test.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve `getRootMetadata` algorithm
  src/utils/fxpHelper.ts
  src/utils/metadataDiff.ts
Due: eslint, eslint --fix, prettier --write

refactor: improve test readibility
  __tests__/unit/lib/utils/metadataDiff.test.ts
Due: eslint, eslint --fix, prettier --write

test(e2e): add "update" end scenario
  test/update-assigment-rule/assignmentRules/UpdateAssignmentRule.assignmentRules-meta.xml
  test/update-autoresponse-rule/autoResponseRules/UpdateAutoresponseRule.autoResponseRules-meta.xml
  test/update-bot-version/bots/UpdateBotVersion/v1.botVersion-meta.xml
  test/update-bot/bots/UpdateBot/UpdateBot.bot-meta.xml
  test/update-classes-meta/classes/ModifiedClassMeta.cls-meta.xml
  test/update-classes/classes/ModifiedClass.cls
  test/update-custom-fields/objects/Account/fields/UpdateCustomField.field-meta.xml
  test/update-custom-labels/added-removed-labels/labels/CustomLabels.labels-meta.xml
  test/update-custom-labels/empty-labels/labels/CustomLabels.labels-meta.xml
  test/update-digital-experience-file/digitalExperiences/site/UpdateDigitalExperienceFile/home/_meta.json
  test/update-escalation-rule/escalationRules/UpdateEscalationRule.escalationRules-meta.xml
  test/update-flow-with-translation/flows/UpdateFlowWithTranslation.flow-meta.xml
  test/update-global-value-set-translation/globalValueSetTranslations/UpdateGlobalValueSetTranslation-fr_FR.globalValueSetTranslation-meta.xml
  test/update-lwc/lwc/updateLwc/updateLwc.css
  test/update-lwc/lwc/updateLwc/updateLwc.js
  test/update-masterdetail-custom-fields/objects/Account.object-meta.xml
  test/update-masterdetail-custom-fields/objects/Account/fields/UpdateMasterDetailCustomField.field-meta.xml
  test/update-matching-rule/matchingRules/UpdateMatchingRule.matchingRule-meta.xml
  test/update-moderation-rule/moderation/update.moderation-keyword.keywords-meta.xml
  test/update-moderation-rule/moderation/update.moderation-rule.rule-meta.xml
  test/update-object-translation/objectTranslations/UpdateObjectTranslation-fr/CustomField__c.fieldTranslation-meta.xml
  test/update-object-translation/objectTranslations/UpdateObjectTranslation-fr/UpdateObjectTranslation-fr.objectTranslation-meta.xml
  test/update-object-with-master-detail/objects/UpdateObjectWithMasterDetail/UpdateObjectWithMasterDetail.object-meta.xml
  test/update-object/objects/UpdateObject/UpdateObject.object-meta.xml
  test/update-profile/profiles/UpdateProfile.profile-meta.xml
  test/update-report/reports/UpdateReportFolder.reportFolder-meta.xml
  test/update-report/reports/UpdateReportFolder/UpdateReport.report-meta.xml
  test/update-sharing-rule/sharingRules/UpdateSharingRule.sharingRules-meta.xml
  test/update-standard-value-set-translation/standardValueSetTranslations/UpdateStandardValueSetTranslation-fr_FR.standardValueSetTranslation-meta.xml
  test/update-static-resource-file/staticresources/UpdateStaticResourceFile/resource/resource-file.txt
  test/update-translation/translations/fr.translation-meta.xml
  test/update-wave-application/wave/UpdateWaveApplication.wapp
  test/update-wave-component/wave/UpdateWaveComponent.wcomp
  test/update-workfow-sub-element/workflows/UpdateSubElementWorkflow.workflow-meta.xml
Due: eslint, eslint --fix, prettier --write

test(e2e): add "ignoreDestructive" end scenario
  test/ignore-destructive/classes/IgnoredClassFromDeletion.cls
  test/ignore-destructive/classes/IgnoredClassFromDeletion.cls-meta.xml
  test/ignore-destructive/labels/CustomLabels.labels-meta.xml
Due: none

test(e2e): add "ignore" scenario
  .sgdignore
  test/ignore/classes/IgnoredClassFromAddition.cls
  test/ignore/classes/IgnoredClassFromAddition.cls-meta.xml
  test/ignore/labels/CustomLabels.labels-meta.xml
Due: none

fix: e2e test check
  __tests__/functional/delta.nut.ts
Due: eslint, eslint --fix, prettier --write

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.md)
